body {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

article {
    background-color: rgb(52, 100, 156);
    border-radius: 1rem;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    color: white;
    width: 1000px;
}

h1 {
    font-family: Georgia, serif;
}
